@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@350;500;600;800&family=Unbounded:wght@100;400;700&display=swap");


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.content-wrapper {
  width: 50%;
  background-color: rgb(13, 9, 1);
  padding: 4%;
  color: #ffffff;
  height: 110vh;
}

h1 {
  font-size: 47px;
  line-height: 1.1;
  margin-bottom: 30px;
  font-family: "Unbounded", cursive;
}

h2 {
  margin-bottom: 200px;
  font-weight: 250;
}

figure {
  width: 50%;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
}

.button {
  margin-top: 5px;
}

.button a {
  display: inline-block;
  padding: 10px 50px;
  background: orange;
  border-radius: 30px;
  text-decoration: none;
  color: black;
  font-size: 18px;
  line-height: 1.4;
  font-weight: 800;
  transition: all 0.5s ease;
}

.button a:hover {
  background: black;
  color: orange;
}
